body{
  margin-top: 100px;
  margin-bottom: 100px;
}

.card{
  max-width: 357px;
}

/* header-footer */

#header-container,#footer-container{
  padding: 0;
}

.dropdown-content{
  position: absolute;
  top: 55px;
  left: 380px;
}

.navbar-color{
  background-color: #3d3d3d;
}

.navbar-brand{
  padding-right: 50px;
}

.navbar-brand > img{
  width: 100px;
}

.logo{
  font-size: 48px;
  color: red;
}

#truck{
  box-shadow: 0px 0px 10px #3d3d3d;
  border-radius: 10px;
  padding: 4px;
}

#info{
  color: red;
}

/* Index */

.main{
  height: auto;
  margin: 0px 10px;
}

#showAll .col-sm-2{
  background-color: #d9d9d9;
}

#categories{
  list-style: none;
}

.col-sm-10{
  background-color: #f2f2f2;
}

.col-nav{
  padding: 0px 0px;
}

.col-sm-10 .card-deck{
  margin: 10px 0px;
}

#mostView{
  margin: 20px 10px;
  box-shadow: 0px 0px 10px #3d3d3d;
}

/* carrello */

.sidenav {
  margin-top: 100px;
  height: 75%;
  width: 0;
  position: fixed;
  z-index: 1300;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#card-container .card{
  margin: 10px 10px;
}

#buy{
  float: right;
  margin-bottom: 10px;
}
/* login */

#login-signup{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  box-shadow: 0px 0px 10px #3d3d3d;
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
}

.text{
  color: red;
}

/* product.php */

.product-img{
  text-align: center;
}

.product-img img{
  width: 400px;
  padding: 50px 0px;
}

.view{
  float:right;
}

.star{
  float: right;
  font-size: 24px;
  color: #ffff00;
}

.list-articles{
  padding: 40px 0px;
}

#mainTable{
  border: 3px solid grey;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px 10px;
}

.container-product img{
  padding: 10px 0px;
  width: 430px;
  height: 400px;
}

.container-product{
  text-align: center;
}

.list-product{
  text-align: left;
  width: 430px;
}

.label{
  float: right;
}

.rewiew{
  margin: 5px auto;
  padding: 20px 20px;
  border: 3px solid #3d3d3d;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #3d3d3d;
  overflow: hidden;
}

.media img{
  width: 64px;
  height: 64px;
}

.list-form a,.list-form button{
  margin-top: 5px;
}

/* showAllProduct */

#showAll{
  box-shadow: 0px 0px 10px #3d3d3d;
  padding: 0px 0px;
}

.bg-dark{
  color: white;
}

.allCardDeck{
  padding: 10px 5px;
}

.card img{
  height: 300px;
}

#errorArticle{
  text-align: center;
}

#choose li{
  padding-left: 5px;
}

/* shop.php */

.width{
  max-width: 325px;
}

#pay{
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px #3d3d3d;
  overflow: hidden;
  padding: 30px;
}

#trashScroll{
  top: 80px;
}

#payScroll{
  top: 20px;
}

#payScroll,#trashScroll{
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

#trash{
  height: 200px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px black;
  overflow: hidden;
}

#trash img{
  width: 190px;
  height: 190px;
  margin-top: 5px;
}

#removeAll{
  margin-top: 10px;
}

.trash{
  font-size: 24px;
}
